@font-face {
    font-family:thousandreasons;
    src: url(fonts/thousandReasons.ttf);
}

body {
    position: absolute;
    background-image: url("images/fondo.jpg");
    width: 100%;
    text-align: center;
    font-family: thousandReasons;
    color: white;
    margin: 0;
    padding: 0;
}

.title h1 {
    margin: 0;
    padding-top: 30px;
}

.title h3 {
    margin: 0;
    padding-bottom: 10px; 
}

.game {
    box-sizing: border-box;
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid white;
}

.game div {
    background: transparent;
    border: 1px solid white;
    font-size: 90px;
    line-height: 195px;
}
.game div:hover {
    cursor: pointer;
}

.game section {
    margin-top: 240px;
}

button {
    font-family: thousandreasons;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    background: transparent;
    height: 40px;
    width: 120px;
    box-sizing: border-box;
}
button:hover {
    border: 3px solid white;
    cursor: pointer;
}

.counter {
    margin: 30px auto 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.playerXWins,
.playerOWins {
    border: 1px solid white;
    margin: 0 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 40px;
}